.portrait {
	display: none;
}

.el {
	position: absolute;
}

.gato_felix        { top : 30%; }
.logo_purina_felix { top : 2% ; left : 7%; }
.encabezado        { top : 2% ; right : 12%; }
.tiernos_filetitos { top : 35% ; left : 22%; }
.sabroso_pate      { top : 62% ; left : 47%; }
.trozos_carnositos { top : 35% ; right : 1%; }


@media (max-width: 715px) { 

	.gato_felix        { width : 152px; top : 35%; }
	.logo_purina_felix { width : 114px; } 
	.encabezado        { width : 268px; }
	 .tiernos_filetitos
	,.sabroso_pate
	,.trozos_carnositos { width : 180px; }

}

@media (max-height: 290px) { 

	.encabezado        { width : 234px; right : 20%;}
	 .tiernos_filetitos
	,.sabroso_pate
	,.trozos_carnositos { width : 154px; }

}

 @media screen and (orientation:portrait) {

	.portrait {
		display: block;
	}

	.landscape {
		display: none;
	}

 }

  @media screen and (orientation:landscape) {

	.landscape {
		display: block;
	}

	.portrait {
		display: none;
	}

 }